.ceo_section {
  background-color: #ffffff;
  max-width: 80vw;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0 !important;
}

.shadow {
  background-color: #ffffff;
  box-shadow: rgba(24, 23, 23, 0.3) 0px 4px 12px;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 1rem;
}

.ceo_title {
  color: #149092;
  font-size: 3rem;
  font-weight: bold;
  margin-left: -5% !important;
}

.ceo_info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.side_line {
  width: 5px;
  height: 100%;
  background-color: #149092;
  margin-right: 1rem;
}

.ceo_icon_text {
  display: flex;
  align-items: center;
}

.ceo_icon {
  margin-right: 1rem;
}

.ceo_description {
  font-size: 1rem;
  color: #149092;
  text-align: justify;
}

.circles {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #149092;
  text-align: center;
  padding: 1rem;
}

.circle p {
  margin: 0;
  font-size: 0.9rem;
  color: #149092;
  text-align: center;
}

.ceo_image_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ceo_image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.ceo_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ceo_name_bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #60dddf9c;
  padding: 12px;
  border-radius: 0px;
  width: 90%;
  text-align: center;
}

.ceo_name {
  color: white;
  text-align: center;
  width: inherit;
}

/* Media Queries for Responsiveness */

@media (max-width: 1024px) {
  .ceo_section {
    max-width: 90vw;
  }

  .ceo_title {
    font-size: 2.5rem;
    margin-left: 0 !important;
    text-align: center;
  }

  .ceo_info {
    flex-direction: column;
    text-align: center;
  }

  .ceo_icon {
    margin-bottom: 1rem;
  }

  .ceo_description {
    text-align: justify;
  }

  .circle {
    width: 100px;
    height: 100px;
    font-size: 0.8rem;
    border-width: 3px;
  }

  .ceo_image_container {
    height: 60vh;
  }

  .ceo_image {
    height: auto;
  }

  .ceo_name_bar {
    width: 100%;
  }

  .ceo_name {
    font-size: 1rem;
  }
}


.circles {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #149092;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem; /* Add margin between circles */
}

.circle p {
  margin: 0;
  font-size: 0.9rem;
  color: #149092;
  text-align: center;
}

/* Media Queries for Responsiveness */

@media (max-width: 1024px) {
  .circle {
    width: 100px;
    height: 100px;
    font-size: 0.8rem;
    border-width: 3px;
  }
}

@media (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
    font-size: 0.7rem;
    border-width: 2px;
  }
}

@media (max-width: 576px) {
  .circles{
    flex-wrap: wrap;
  }
  .circle {
    width: 70px;
    height: 70px;
    font-size: 0.2rem;
    border-width: 1.5px;
  }
 
}
@media (max-width: 576px) {
  .shadow {
    background-color: transparent;
    box-shadow: none; /* Remove box shadow */
    padding: 1rem;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .ceo_icon{
    display: none;
  }
}
