.features_container {
    text-align: center;
    padding-bottom: 20px;
    /* background-color: WSS#e0f7fa; */
  }
  
  .features_container h2 {
    font-size: 4em;
    color: var(--secondary);
    margin: 20px;
    padding: 1rem;
  }
  .features_cards {
    background-color: var(--primary);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Set to 4 columns */
    gap: 25px;
    padding: 3rem;
    width: 99vw;
    margin-left: calc(-50vw + 50%);
  }
  
  @media (max-width: 992px) {
    .features_cards {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .features_cards {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Further adjustments for very small screens */
    }
  }
    
  .feature_card {
    background-color: var(--text-color);
    border-radius: 10px;
    /* border: 6px solid red !important; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .feature_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .feature_image {
    width: 100%;
    height:auto;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .feature_card h3 {
    font-size: 1.5em;
    color: var(--primary);
    margin-bottom: 10px;
  }
  
  .feature_card p {
    color: #616161;
    margin-bottom: 20px;
  }
  
  .more_button {
    background-color:var(--primary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .more_button:hover {
    background-color: var(--secondary);
  }
  