/* BlogPage.module.css */

.blog_container {
  margin-top: 2rem;
}

.page_header {
  height: 200px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #332D2D !important;    
}
.page_header h1{
    font-size: 5rem !important;
    font-weight: bolder !important;
    background: linear-gradient(90deg, #4ca5ff, #b573f8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    box-shadow: rgba(109, 108, 108, 0.35) 0px 5px 15px;
    padding: .5rem;
}

.author {
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.author_profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.about_author p {
  color: var(--text-color, #333);
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.about_author b {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.news_section {
  margin-top: 1.5rem;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.news_content_wrapper {
  display: flex;
  flex-direction: column;
  animation: scrollNews 50s linear infinite;
}

.news_content {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

@keyframes scrollNews {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% + 480px)); /* Move up by the total height of the content minus the visible height */
  }
}

.news_section:hover .news_content_wrapper {
  animation-play-state: paused;
}

/* Blog Card Styles */
.blog_card {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog_Img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blog_description {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.blog_description b {
  display: block;
  margin-bottom: 0.5rem;
}

.blog_description h3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.blog_description a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.blog_description a:hover {
  text-decoration: underline;
}
