.blog_container{
    margin-top: 1rem;
  }
.blog_header {
    height: 300px;
    width: 100%;
    text-align: center;
    background: var(--primary); /* Add your background image if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
  }
  .author_profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .blog_card{
    display: flex;
    /* border: .5px solid lightslategrey; */
    line-height: 30px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
  .blog_Img{
    height: 200px;
    width: 200px;
  }
  .blog_description{
    padding-left: .5rem;
  }
  