/* CSS Module: BlogPage.module.css */


.blog_container {
  margin-top: 2rem;
}

.blog_header {
  height: 300px;
  width: 100%;
  text-align: center;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.author {
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.author_profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.about_author p {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.about_author b {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.blog_card {
  display: flex;
  background: var(--primary);
  color: var(--text-color);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.blog_card:hover {
  transform: translateY(-10px);
}

.blog_Img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.blog_description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}

.blog_description b {
  font-size: 0.9rem;
  color: var(--secondary);
  margin-bottom: 0.5rem;
}

.blog_description h3 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.blog_description p {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.blog_description a {
  color: whitesmoke;
  background-color: var(--secondary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.blog_description a:hover {
  background-color: var(--hover-color);
}
