/* CSS Module: Services.module.css */
.page_header {
  height: 200px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #332D2D !important;    
}
.overflowHiden{
overflow-x: hidden;
}
.page_header h1{
    font-size: 5rem !important;
    font-weight: bolder !important;
    background: linear-gradient(90deg, #4ca5ff, #b573f8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    box-shadow: rgba(109, 108, 108, 0.35) 0px 5px 15px;
    padding: .5rem;
}
@media only screen and (max-width: 767px) {
  .page_header {
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #332D2D !important;    
  }
  .page_header h1{
      font-size: 2rem !important;
      font-weight: bolder !important;
      background: linear-gradient(90deg, #4ca5ff, #b573f8);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      box-shadow: rgba(109, 108, 108, 0.35) 0px 5px 15px;
      padding: .5rem;
}}
.bgc{
  background-color: #FFFFFF;
  padding: 1rem 0rem;
}
.methodology {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  
  .circle_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .right_text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .circle_1,
  .circle_2,
  .circle_3,
  .circle_4 {
    height: 300px;
    width: 300px;
    background-color: var(--primary);
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    padding: 3rem 0.5rem 2rem 3.3rem;
  }
  
  .circle_2,
  .circle_4 {
    position: relative;
    top: -40px;
  }
  @media only screen and (max-width: 768px) {
    .circle_2,
    .circle_4 {
      position: relative;
      top: 0;
    }
  }
  .project_card {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .project_card img {
    width: 100%;
    height: auto;
  }
  
  .project_card h4 {
    margin-top: 15px;
    font-size: 18px;
  }
  
  .project_card p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  /* .project_card button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  } */
  .project_card .linkButton {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--secondary);
    color: whitesmoke;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  .project_card hr {
    margin-top: 20px;
  }
  
  .underline{
    border-bottom: 2px solid gray;
    transition: all 1s ease-in-out;
  }
  .project_card:hover .underline{
    border-bottom: 2px solid blue;
  }