.contact_header {
  height: 300px;
  width: 100%;
  text-align: center;
  background: var(--primary); /* Add your background image if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
/* ===================================== */
.form_handler {
  margin-top: 10px;
  padding: 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 30px;
  z-index: 9999;
  box-shadow: -10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.form_handler Label {
  font-size: 1rem;
  font-weight: 700;
}
.contact_banner {
  margin-top: 10rem;
  padding: 2rem;
  padding-left: 3rem;
  background-color: var(--primary);
  border-radius: 20px;
  color: var(--text-color);
}
@media screen and (min-width: 1024px) {
  .contact_banner p,h2 {
    padding-left: 60px !important; /* Kept the left padding */
  }
}
@media screen and (max-width: 768px) {
  .contact_banner {
    margin-top: 10rem;
    padding: 2rem;
    background-color: var(--primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_banner img {
    width: 300px;
    height: 300px;
    margin-left: 30% !important;
    margin-top: 10px !important;
    border-radius: 50%;
    background-color: var(--primary);
    border-right: 1px solid black;
  }
  .contact_banner h2 {
    color: var(--text-color);
    font-size: 2rem !important;
    padding: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .contact_banner img {
    width: 200px;
    height: 200px;
    margin-left: 0 !important;
    margin-top: 10px !important;
    border-radius: 50%;
    background-color: var(--primary);
    border-right: 1px solid black;
  }
}

.contact_banner p {
  color: var(--text-color);
  font-weight: 600;
  font-size: larger;
  text-align: center;
  padding-top: 5rem;
}
.contact_banner h2 {
  text-align: center;
}
.contact_banner img {
  width: 300px;
  height: 300px;
  margin-left: 70px;
  border-radius: 50%;
  background-color: #e3e3e3;
  border-right: 1px solid black;
}
.padder {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .padder {
    padding: 20px;
  }
}
.connect_section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--primary);
  text-align: center;
  color: var(--text-color);
}

.connect_content h1 {
  font-size: 2.5rem;
  padding: 1rem;
}

.connect_icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon_block h5,
.icon_block p {
  margin: 0.5rem 0;
}
