.parent_container {
  display: flex;
  justify-content: flex-start;
  background-color:white;
  padding-top: 1rem;
  height: 70%;
  /* flex-wrap: wrap; */
  color: var(--text-color) !important;
}

.left_side {
  width: 50vw;
  padding-right: 0.1rem;
}

.right_side {
  width: 50vw;
  color: var(--text-color);
}

.left_side img {
  width: 90%;
  margin-top: 1rem;
  height: auto;
}

.right_side {
  text-align: left;
}

.right_side > .content > :nth-child(2) {
  color: var(--text-color);
}

.content h1 {
  font-size: 36px;
  font-weight: 600;
  max-width: 600px;
  padding: 0.3rem 0%;
}

.content {
  gap: 1rem;
}

.papil-card {
  width: 450px;
  height: 200px;
  display: flex;
  background-color: var(--primary);
  border: 0px solid transparent;
  border-radius: 30px 30px 30px 30px;
  position: relative;
  border: 0px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 4rem;
  left: 2rem;
}

.papil_left {
  width: 50vw;
  padding-left: 0.4rem;
}

.papil_right {
  width: 50vw;
}

.papil_content {
  padding: 2rem;
}

.papil_right img {
  max-width: 100%;
  height: 30vh;
  max-height: 100%;
  width: 100vw;
  border-radius: 0px 30px 30px 0px;
}

@media screen and (max-width: 768px) {
  .parent_container .left_side img {
    display: none;
  }
  .left_side {
    width: 0vw;
    padding-right: 0;
  }
  .right_side {
    width: 100vw;
  }
  .content h1 {
    font-size: 36px;
    font-weight: 600;
    max-width: 100vw;
    padding: 0.3rem 0%;
  }
  .papil_right img {
    max-width: 100%;
    height: 70vh;
    max-height: 100%;
    width: 100vw;
    border-radius: 0px 30px 30px 0px;
  }
  .papil-card {
    width: 300px;
    display: flex;
    background-color: rgb(109, 95, 95);
    border: 0px solid transparent;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    top: 1rem;
    left: 0rem;
  }
}

/* ==================================Expertise section */
.expertise_section {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: white;
  color: var(--heading);
  padding: 5.5rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
@media screen and (max-width: 768px) {
  .expertise_section {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 5.5rem;
  }
}
.expertise-left {
  width: 100vw;
}
.expertise-right {
  width: 100vw;
}

.features h1{
  margin-bottom: 2rem;
  text-align: center;
}
.features{
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}