.blogHeading{
    text-align: center;
    padding: 1rem 0rem;
    border-top: .5px solid black;
    border-bottom: .5px solid black;
}
.blogList {
    padding: 2rem 0;
  }
  
  .blogCard {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .blogDate {
    font-size: 0.8rem;
    color: #888;
  }
  
  .blogButton {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #149092;
    transition: all 0.5s ease-in-out; 
  }
  
  .blogBtn_txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
    color: #149092;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  .more_detail{
    color: #149092;
  }
  .blogButton:hover {
    box-shadow: 1px 1px 30px #2525259d;
    color: whitesmoke;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }
  