/* NavBar.module.css */

.navbar {
  padding: 1rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: -4rem;
}
@media only screen and (max-width: 800px) {
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0rem;
  }
}
.custom-toggler {
  border-color: #fff;
}

.nav_link {
  position: relative;
  padding: 0.5rem 1rem; /* Adjusted padding for better spacing */
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
}

.nav_link:hover {
  color: var(--primary);
  background-color: rgba(255, 255, 255, 0.1);
}

.nav_link:focus,
.nav_link:active,
.nav_link.active {
  color: var(--primary) !important;
  font-weight: 800 !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-bottom: 2px solid var(--primary) !important; /* Increased border width for active links */
}

.nav_link:not(:first-child) {
  margin-left: 15px; /* Increased spacing between nav links */
}

.profile_dropdown {
  margin-left: 1rem;
  min-width: 200px; /* Ensure a minimum width for the dropdown */
}

.profile_toggle {
  background: #307E6B !important;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  white-space: nowrap; /* Prevents text wrapping */
}

.profile_icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.user_name {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncates long names with ellipsis */
  max-width: 120px; /* Adjust as needed */
}

.dropdown_menu {
  background: #3d3a4e;
  color: #fff;
  border: none;
}

.dropdown_menu .dropdown-item {
  color: #fff;
}

.dropdown_menu .dropdown-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.login_button {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 1.25rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.login_button:hover {
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
}

.button_content {
  position: relative;
  z-index: 1;
}

/* Media Query for Mobile Mode */
@media (max-width: 768px) {
  .nav_link {
    padding: 0.5rem 1rem; /* Adjusted padding for mobile */
    border-left: none !important; /* Remove left border on mobile */
    border-bottom: none !important; /* Remove bottom border on mobile */
    margin-left: 0; /* Remove margin for better spacing */
  }

  .nav_link:hover,
  .nav_link:focus,
  .nav_link:active,
  .nav_link.active {
    color: var(--primary) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-bottom: 2px solid var(--primary) !important; /* Increased border width for active links on mobile */
  }
}
