.container_custom {
  padding: 20px;
}
.scrollView{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
}
.scrollView::-webkit-scrollbar{
  display: none;
}
.card_custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
}

.form_custom {
  margin-bottom: 20px;
}

.form_label {
  font-weight: bold;
}

.form_control {
  border-radius: 4px;
}

.news_row {
  margin-top: 20px;
}

.news_card_wrapper {
  padding: 10px;
}

.search_input {
  width: 300px;
}

.submit_button {
  width: 100%;
}
