.page_header {
  height: 200px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #332D2D !important;    
}

.page_header h1 {
  font-size: 5rem !important;
  font-weight: bolder !important;
  background: linear-gradient(90deg, #4ca5ff, #b573f8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  box-shadow: rgba(109, 108, 108, 0.35) 0px 5px 15px;
  padding: .5rem;
}

.courseCard {
  width: 400px; /* Adjust the width as needed */
  position: relative;
  margin: 5px; /* Adjust margin for spacing */
  background: #fafafa;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem; /* Adjust gap for spacing */
  padding: 1rem;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: white;
  padding: 3px 10px;
}

.explore_btn {
  display: inline-block;
  border-radius: 20px;
  background-color: #3d405b;
  border: none;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 15px;
}

.explore_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.explore_btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.explore_btn:hover span {
  padding-right: 15px;
}

.explore_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.courseImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #f0f0f0;
}

.courseImg img {
  max-width: 100%;
  max-height: 100%;
}

.courseDetails {
  padding: 20px;
  flex: 1; /* Make details take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courseCategory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 18px;
}

.courseDetails h4 {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
}

.courseDetails p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.courseBottomDetails {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.courseBottomDetails div {
  float: left;
  width: 50%;
}

.coursePrice {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.coursePrice small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.courseLinks {
  text-align: right;
}

.courseLinks a {
  display: inline-block;
  margin-left: 5px;
  color: #333;
  transition: 0.3s;
  font-size: 17px;
}

.courseLinks a:hover {
  color: #fbb72c;
}

.iconContainer {
  display: flex;
  gap: 0.3rem; /* Adjust gap for spacing */
}
